{% extends 'base.html.twig' %}

{% block body %}
<form action="{{ path('article_index') }}" method="GET">
    <div>
        <button type="submit" class="btn btn-warning">Back to the list</button>
    </div>
</form>
    <div>
        <h1>Article edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="btn btn-info" type="submit" value="Edit" />
    {{ form_end(edit_form) }}


    {{ form_start(delete_form) }}
        <input class="btn btn-info" type="submit" value="Delete">
    {{ form_end(delete_form) }}
    </div>

{% endblock %}
